{% extends 'streaming/base.html' %}
{% load static %}

{% block content %}

    <div class="album_container">
        {% if item.icon %}
              <img alt="" src="{{item.icon.url}}" style="border-radius: 0;"/>
        {% endif %}
        <div style="text-align: center;">
                    <h3>{{item.name}}</h3>
                <div class="cover">

                            <h5>{{item.release_date}}</h5>
       </div>
             {% if user.role.id != 3 and permission %}
            <span style="text-align:center;">
                             <a href="{% url 'albums' %}">Back</a>
                             <a href="{% url 'update_album' item.pk%}">Update</a>
                             <a href="{% url 'delete_album' item.pk%}">Delete</a>
                         </span>
               {% endif %}
            </div>
        {% for it in tracks %}
          <div class="track_container">
        <div class="cover" style="float:right;">
        <img alt="" src="{{it.photo.url}}" style="border-radius: 0;"/>
       </div>
        <h3><a href="{% url 'detail_track' it.pk %}">{{it.track_name}}</a></h3>
        <span>
            <h5>{{item.timing|time:"g:i"|lower}}</h5>
            <span class="text_container_span">
            <img src="{% static 'streaming/images/like.jpg'%}" class="small_icon"/>
            <span class="text_container_span">{{it.likes}}</span>
            <img src="{% static 'streaming/images/play.jpg'%}" class="small_icon"/>
            <span  class="text_container_span"> {{it.streaming}}</span>
            </span>
        </span>
              <div class="container">
      <div class="music-player">
        <div class="lecteur">
        <audio class="fc-media" style="width: 100%;">
         <source src="{% if it.track %}{{it.track.url}{% endif %}" type="audio/mp3"/>
        </audio>

       </div>
      </div>
    </div>
    </div>
        {% endfor %}
    </div>

{% endblock %}